# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ-related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code-related
.vscode/

# Flutter/Dart-related
**/doc/api/
.metadata
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/android/local.properties
**/android/flutter_installer/
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web-related
**/web/stacktrace
**/web/lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Secrets/Sensitive information
.env*

#AI Skills
skills-lock.json
.agents/
.github/agents/